<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoliceWebScraping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PoliceWebScraping.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="PoliceWebScraping.app" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
      
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoliceWebScraping.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
  <appSettings>
    <add key="AzureOCRKey" value="" />
    <add key="VISION_ENDPOINT" value="https://computervisionjt.cognitiveservices.azure.com/" />
    <add key="ImgurID" value="" />
    <add key="ImgurP" value="" />
    <add key="Imguraccess_token" value="" />
    <add key="ImgurRefreshToken" value="" />
    <add key="ImgurAccountId" value="" />
    <add key="ImgurExpiresIn" value="" />
    <add key="ImgurAccountId" value="" />
    <add key="OpenAIKey" value="" />
    <add key="ImgbbKey" value="" />
    <add key="GoogleOCRKey" value="" />
   


  </appSettings>
  <applicationSettings>
    <PoliceWebScraping.app>
      <setting name="AzureOCRKey" serializeAs="String">
        <value />
      </setting>
    </PoliceWebScraping.app>
    <PoliceWebScraping.Properties.Settings>
      <setting name="LastFolderPath" serializeAs="String">
        <value />
      </setting>
    </PoliceWebScraping.Properties.Settings>
    <PoliceWebScraping.Settings>
      <setting name="LastFolderPath" serializeAs="String">
        <value />
      </setting>
    </PoliceWebScraping.Settings>
  </applicationSettings>
  <userSettings>
    <PoliceWebScraping.Properties.Settings>
      <setting name="SplitRatio" serializeAs="String">
        <value>0</value>
      </setting>
    </PoliceWebScraping.Properties.Settings>
  </userSettings>
</configuration>