@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "已鎖定";
}

<main>
    <hgroup>
        <h1 class="text-danger">已鎖定。</h1>
        <h2 class="text-danger">此帳戶已鎖定，請稍後再試。</h2>
    </hgroup>
</main>
